footer.main-footer
	.container-fluid
		.row
			.col-md-6.col-sm-10
				.dt
					.dtc 
						a(href="/").logo
							img(src="img/logo-grey.svg", alt="")
				
					.dtc
						.copyright  
							p Copyright 2017
							p  <b>Digital Medium</b> – журнал о современом интернет-маркетинге
							p Все права защищены
			.col-md-6.col-sm-2
				ul.footer-menu
					li: a(href="#") О проекте
					li: a(href="#") Контакты
					li: a(href="#") Реклама
					li: a(href="#") Пресса
					li: a(href="#") Сотрудничество
					li: a(href="#") Вакансии
				.fl-right
					img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAwUlEQVRYR+3XUQqAIBAE0PZ6XlfQ4xlGhkW2M7FLQfUZ6tNZ0ZIYY5keesQSF5GpFHwtpjgb4A4PIbD96fYppa3Pjy9RvCr2vj50cdcOxwXBNf8uzkQ9Sul27Ch+VR5XXNsXbvgZXLH+vQs+gmupXPEr2BXXYDccgV1wFNbwnPP2wQFdqQys4fDZfhyoHTra7Wey29kVt8mZ4FqEo+PXDG8T0KLuJ2KKoxcM0o7acMiATJsfr2m954+FqZ1F20dXPgPovQUXPR5MTgAAAABJRU5ErkJggg==", alt="")