.rating-side
	.rating-side__header
		i.icm.icon-pyr
		span Рейтинги компаний
	.rating-side__marks
		a(href="#").js-toggler.marked.marked--wh.border.active seo
		a(href="#").js-toggler.marked.marked--wh.border контекст
		a(href="#").js-toggler.marked.marked--wh.border.active smm
		a(href="#").js-toggler.marked.marked--wh.border.active мобильная реклама
		a(href="#").js-toggler.marked.marked--wh.border реклама медийная
		a(href="#").js-toggler.marked.marked--wh.border разработка
	.rating-side__table
		table
			thead
				td Компания
				td Рейтинг
				td Отзывы
			tbody
				tr
					td: a(href="#") Demis Group
					td 8.97
					td.comment 190
				tr
					td: a(href="#") Kokoc.com
					td 9.2
					td.comment 103
				tr
					td: a(href="#") VIPSEO
					td 7.55
					td.comment 87
				tr
					td: a(href="#") Ingate
					td 6.39
					td.comment 77
				tr
					td: a(href="#") Скобеев и Партнеры
					td 6.08
					td.comment 43
		.rating-side__footer
			a(href="#") 
				i.icm.icon-lines 
				span Все компании (54)
