.side-category
	.side-category__section
		.side-widget__header
			i.icm.icon-side-cat
			span Категории
	.side-category__section
		.header
			span.icon(data-toggler="")
			a(href="#") Продвижение сайтов
			span.num 209
		ul
			li: a(href="#") Для заказчиков
			li: a(href="#") Для специалистов
			li: a(href="#") Для агентств
			li: a(href="#") Сервисы
	.side-category__section
		.header
			span.icon
			a(href="#") Контекстная реклама
			span.num 2 048
		ul
			li: a(href="#") Для заказчиков
			li: a(href="#") Для специалистов
			li: a(href="#") Для агентств
			li: a(href="#") Сервисы
	.side-category__section
		.header
			span.icon
			a(href="#") Медийная реклама
			span.num 119
		ul
			li: a(href="#") Для заказчиков
			li: a(href="#") Для специалистов
			li: a(href="#") Для агентств
			li: a(href="#") Сервисы
	.side-category__section
		.header
			span.icon
			a(href="#") Мобильная реклама
			span.num 119
		ul
			li: a(href="#") Для заказчиков
			li: a(href="#") Для специалистов
			li: a(href="#") Для агентств
			li: a(href="#") Сервисы
	.side-category__section
		.header
			span.icon
			a(href="#") Разработка сайтов и приложений
			span.num 119
		ul
			li: a(href="#") Для заказчиков
			li: a(href="#") Для специалистов
			li: a(href="#") Для агентств
			li: a(href="#") Сервисы