.site-promotion.box-content
	.site-promotion__header
		span Продвижение сайтов
	.site-promotion__body
		.row
			.col-md-4
				.site-promotion__item
					.title Клиентам
					.content
						a(href="#").item 22 инсайда о структуре российских digital-агентств. В инфографике
						a(href="#").item Ecommerce. Главные тренды мобильного ритейла в 2017 году (исследование Criteo)
						a(href="#").item.img-text
							img(src="pic/promotion-img-text.jpg", alt="")
							span Занимаетесь маркетингом или продажами? Примите участие в опросе
						a(href="#").item Маркетинговые планы веб-студий: исследование 2017 года
			.col-md-4
				.site-promotion__item
					.title Специалистам
					.content
						a(href="#").item: .dt
							.dtc
								img(src="pic/site-promotion-img1.jpg", alt="")
							.dtc Связь между количеством ключевых слов и эффективностью контекстной рекламы
						a(href="#").item Электронные технологии на билетном рынке. Тренды-2017
						a(href="#").item Готовы ли агентства оказывать качественную услугу лидогенерации для автобрендов
						a(href="#").item: .dt 
							.dtc: img(src="pic/site-promotion-img2.jpg", alt="")
							.dtc Юзабилити мобильных e-commerce сайтов: вопрос главной страницы 
			.col-md-4
				.site-promotion__item
					.title Агенствам
					.content
						a(href="#").item Как промокоды влияют на поведение интернет-покупателей: исследование
						a(href="#").item Кнопки «Поделиться» на сайтах — поведение читателей и предпочтения владельцев веб-страниц
						a(href="#"): .dt
							.dtc: img(src="pic/site-promotion-img3.jpg", alt="")
							.dtc Как «скрестить» SEO, рекламу, email-маркетинг и другие инструменты
						a(href="#").item Чего клиенты ждут от веб-студий и в каких случаях готовы их сменить 

